* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 960px;
  border-radius: 30px;
}

form {
  border-radius: 0px 0px 30px 30px;
  background-color: #404040;
  margin-top: auto;
  padding: 20px;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

.message-container {
  display: flex;
  margin: 15px;
}

.message-container-left {
  flex-direction: row;
}

.message-container-right {
  flex-direction: row-reverse;
}

.message {
  max-width: 60%;
}

.message-content {
  padding: 10px;
  min-height: 50px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.message-content-left {
  background-color: #404040;
  border-radius: 12px 12px 12px 3px;
}

.message-content-right {
  border-radius: 12px 12px 3px 12px;
  background-color: #00cc99;
}

.timestamp {
  color: white;
  font-size: 15px;
}
